name: CI/CD

on:
  push:
    tags:
      - "v*"
  pull_request:

permissions:
  contents: write

jobs:
  test: 
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod

      - name: Run tests
        run: go test ./...

      - name: build
        run: go build .


  release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v4

      - uses: cli/gh-extension-precompile@v2
        with:
          go_version_file: go.mod
